<form method="POST" action="/submit">
    <label><input type="checkbox" name="opciones" value="Hombre"> Hombre </label>
    <label><input type="checkbox" name="opciones" value="Mujer"> Mujer </label>
    <label><input type="checkbox" name="opciones" value="Indefinido"> Indefinido </label>

    <select name="opciones" multiple>
        <option value="Telefonos">Telefonos</option>
        <option value="Carros">Carros</option>
        <option value="computadoras">computadoras</option>
    </select>

    <button type="submit">Enviar</button>
    {% for lista in opciones %}
        <li>{{lista}}</li>
    {% endfor %}
</form>
